@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #0d1117;
}

::-webkit-scrollbar-thumb {
    background: #374151;
    border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #22d3ee;
}

body {
    font-family: 'Poppins', sans-serif;
}

input:focus {
    outline: none;
}

input, input:focus, input:active, input:-webkit-autofill {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
}